.component-display {
	background-color: #858694;
	color: white;
	font-weight: 250;
	width: 100%;
	flex: 0 0 auto;
	text-align: right;
}

.component-display > div {
	font-size: 2.5rem;
}

/*
	flex-grow
	flex-shrink 
	flex-basis
*/